
<div class="item-container">
  <div *ngFor="let events of EventsVar" class="item-iter" [class.expanded]="events.isExpanded" (click)="expandItem(events)">
    <div class="item-wrapper">

    <!-- Collapsed item view -->
    <div *ngIf="!events.isExpanded">
          
      <div class="item-image-wrapper" *ngIf="events.image"><img [src]="getImagePath(events.image)" class="item-image" alt="Image"></div>
      <div *ngIf="!events.image"><img [src]="getIconPath(events.icon)" class="item-icon" alt="Icon" height="32" width="32"></div>
      

      <span *ngIf="!events.endDate" class="item-date">{{ formatDate(events.startDate) }}</span>
      <span *ngIf="events.endDate" class="item-date">{{ formatDate(events.startDate) }}-{{ formatDateRange(events.endDate) }}</span>

      <span *ngIf="!events.endTime && events.startTime" class="item-time"> at {{ events.startTime }}</span>
      <span *ngIf="events.endTime && events.startTime" class="item-time">, {{ events.startTime }}-{{ events.endTime }}</span><br>

      <span class="item-name">{{ events.name | truncate: 20 }}</span><br>

      <span class="item-location">{{ events.location }}</span><br>
    </div>
  

    <!-- Expanded item view -->
    <div class="item-wrapper-expanded" *ngIf="events.isExpanded">
      
      <div>
        <!-- Expanded event date handler -->
        <span *ngIf="!events.endDate  && events.startDate" class="item-date-expanded">{{ formatDate(events.startDate) }}</span>
        <span *ngIf="events.endDate" class="item-date-expanded">{{ formatDateRange(events.startDate) }}-{{ formatDateRange(events.endDate) }}</span>
        
        <!-- Expanded event time handler -->
        <span *ngIf="!events.endTime && events.startTime" class="item-time-expanded"> at {{ events.startTime }}</span>
        <span *ngIf="events.endTime && events.startTime" class="item-time-expanded">, {{ events.startTime }}-{{ events.endTime }}</span>
      </div>

      <div class="item-name-expanded">{{ events.name }}</div><br>
      
      <span *ngIf="events.cost" class="item-cost">Admission: {{ events.cost }}</span><br>

      <!-- TODO: need to implement functionality for location name versus location -->

      <span class="item-location">
        <span *ngIf="events.locationName">at {{ events.locationName }}</span><br>
        <span *ngIf="events.location"><a [href]="formatEventLocationName(events.location)" target="_blank">{{ events.location }}</a></span><br>
      </span>
          
      <span *ngIf="events.image; else showIcon"><img [src]="getImagePath(events.image)" class="item-image-expanded" alt="Image"></span>
        <ng-template #showIcon><img [src]="getIconPath(events.icon)" class="item-image" alt="Icon" height="32" width="32"></ng-template>

      <div class="item-description">{{ events.description }}</div>
    </div>
  
    </div>
  </div>
</div>
  