<div class="welcome-container"><h2>Welcome!</h2>

<p>We're currently under construction, but feel free to peek around.</p>

<p>We are aiming to be a no-nonsense source for all that is going on in and around our beautiful town of Little Falls, NY.</p>

<!-- <p>Discover the heartbeat of our vibrant community nestled in the heart of Little Falls, New York. At Little Falls Local, we're your go-to source for everything happening in our city.</p> -->

<!-- <p>From exciting local events to charming shops, picturesque outdoor destinations, and fascinating insights into our rich history, we're here to guide you on your journey of exploration and connection.</p>

<p>Whether you're a longtime resident or a curious visitor, we invite you to dive into the diverse tapestry of experiences that make Little Falls truly special. Let us be your trusted companion as you uncover the hidden gems and treasured moments that await around every corner.</p>

<p>Join us as we celebrate the spirit of community, culture, and camaraderie.</p><p>&nbsp;</p><p>&nbsp;</p> -->


</div>