@media (max-width: 768px) {

  .welcome-container {
      display: block;
      position: fixed;
      margin: 0px;
      padding: 10px;
      text-align: center;
      color: #fff;
      background-color: #507e87; /* Semi-transparent black background */
      width: 100%;
      max-width: 1124px;
      height: 100%;
    }

  h2 {
    text-align: center;
  }

}

@media (min-width: 1024px) {

  .welcome-container {
    display: block;
    position: fixed;
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #507e87; /* Semi-transparent black background */
    width: 100%;
    max-width: 1124px;
    height: 100%;
  }

h2 {
  text-align: center;
}

}