
  .footer-container {
    display: block;
    position: fixed;
    bottom: 0;
    font-size: 14px;
    color: var(--dark-text);
    background-color: var(--header-footer-bg);
    border-top: 1px solid var(--point25-alpha);
    text-align: center;
    z-index: 100;
    padding: 5px 0px;
    margin: 0;
    width: 100%;
    max-width: 1500px;
  }

  .copyright {
    color: var(--dark-text);
  }