 
 a {
    color: #fff;
    text-decoration:dashed;
  }

  a:hover {
    color: #65d277;
  }

  .footerbox {
    display: block;
    grid-area: footer;
    border-radius: 8px 0px 0px 0px;
    font-size: 14px;
    color: wheat;
    background-color: var(--tertiary-color);
    border-top: 1px solid var(--item-borders-1);
    text-align: center;
    width: 100%;
    /* min-height: 60px; */
    z-index: 100;
  }

  .footerbox a {
    color: var(--text-color-light);
    text-decoration: none;
  }

  .copyright {
    color: #C7E6EB;
  }