
<div class="item-container">
  <div *ngFor="let foodPlaces of foodPlacesVar" class="item-iter" [class.expanded]="foodPlaces.isExpanded" (click)="expandItem(foodPlaces)">
    <div class="item-wrapper">
      <!-- Collapsed item view -->
      <div *ngIf="!foodPlaces.isExpanded">

        <div class="item-image-wrapper" *ngIf="foodPlaces.image.first"><img [src]="getImagePath(foodPlaces.image.first)" class="item-image" alt="Image"></div>

        <span *ngIf="foodPlaces.image" class="item-name">{{ foodPlaces.name | truncate: 19 }}</span>
        <span *ngIf="!foodPlaces.image" class="item-name">{{ foodPlaces.name | truncate: 30 }}</span><br>

        <span class="item-type">{{ foodPlaces.type }}</span><br>
        <span class="item-rating"> {{ foodPlaces.rating }} stars <app-rating [rating]="foodPlaces.rating"></app-rating></span><br>
      </div>
    </div>
  
<!-- Expanded item view -->
  <div class="item-wrapper-expanded" *ngIf="foodPlaces.isExpanded">
    <div *ngIf="foodPlaces.isExpanded">
      <div class="item-name-expanded">{{ foodPlaces.name }}</div>

      <button class="minimizer" (click)="foodPlaces.isExpanded = false"><fa-icon icon="down-left-and-up-right-to-center" class="fa-lg"></fa-icon></button>

      <span class="item-type">{{ foodPlaces.type }}</span><br>
      <span class="item-rating">{{ foodPlaces.rating }} stars <app-rating [rating]="foodPlaces.rating"></app-rating></span><br>

      <span *ngIf="foodPlaces.phoneNumber" class="item-phoneNumber"><a [href]="'tel:' + foodPlaces.phoneNumber">{{ foodPlaces.phoneNumber }}</a></span><br>

      <span class="item-location">
        <span *ngIf="foodPlaces.location">
        <a [href]="formatRestaurantName(foodPlaces.name)" target="_blank">{{ foodPlaces.location }}</a></span>
      </span><br><br>

      <app-image-carousel *ngIf="foodPlaces.image.first; else noImageBlock" [images]="foodPlaces.image"></app-image-carousel>
      <ng-template #noImageBlock><img src="../../assets/images/coming-soon.jpg" width="95%" alt="image coming soon"></ng-template>

      <div *ngIf="foodPlaces.description" class="item-description">{{ foodPlaces.description }}</div>
    </div>
  </div>
  </div>
  <!-- <p>&nbsp;</p><p>&nbsp;</p> -->
</div>