
<div class="filters-container">
  <a (click)="filterByType('American');" style="cursor: pointer;">American</a><span class="divider"> | </span>
  <a (click)="filterByType('Italian');" style="cursor: pointer;">Italian</a><span class="divider"> | </span>
  <a (click)="filterByType('Mexican');" style="cursor: pointer;">Mexican</a><span class="divider"> | </span>
  <a (click)="filterByType('Bar');" style="cursor: pointer;">Bars</a>
    
  <span class="filterIconContainer">
    <a (click)="resetFilter();" style="cursor: pointer;" id="clearFilterText"><fa-icon [icon]="isFilterApplied ? 'filter-circle-xmark' : 'filter'" class="fa-xs"></fa-icon>&nbsp;clear</a>
  </span>
</div>

<div class="item-container">
  <div *ngFor="let foodItem of filteredData" class="item-iter" [class.expanded]="foodItem.isExpanded" (click)="expandItem(foodItem)">
    <div class="item-wrapper">
      <!-- Collapsed item view -->
      <div *ngIf="!foodItem.isExpanded">

        <div class="item-image-wrapper" *ngIf="foodItem.image.first"><img [src]="getImagePath(foodItem.image.first)" class="item-image" alt="Image" loading="lazy"></div>

        <span *ngIf="foodItem.image" class="item-name">{{ foodItem.name | truncate: 19 }}</span>
        <span *ngIf="!foodItem.image" class="item-name">{{ foodItem.name | truncate: 30 }}</span><br>

        <span class="item-type">{{ foodItem.type }}</span><br>
        <span class="item-rating"> {{ foodItem.rating }} stars <app-rating [rating]="foodItem.rating"></app-rating></span><br>
      </div>
    </div>
  
<!-- Expanded item view -->
  <div class="item-wrapper-expanded" *ngIf="foodItem.isExpanded">
    <div *ngIf="foodItem.isExpanded">
      <div class="item-name-expanded">{{ foodItem.name }}</div>

      <button class="minimizer" (click)="foodItem.isExpanded = false"><fa-icon icon="down-left-and-up-right-to-center" class="fa-lg"></fa-icon></button>

      <span class="item-type">{{ foodItem.type }}</span> | 
      <span class="item-rating">{{ foodItem.rating }} stars <app-rating [rating]="foodItem.rating"></app-rating></span><br>

      <span *ngIf="foodItem.phoneNumber" class="item-phoneNumber"><fa-icon [icon]="'phone'" class="fa-xs"></fa-icon>&nbsp;<a [href]="'tel:' + foodItem.phoneNumber">{{ foodItem.phoneNumber }}</a></span><br>

      <span class="item-location">
        <span *ngIf="foodItem.location">
          <fa-icon [icon]="'location-dot'" class='fa-xs'></fa-icon>&nbsp;<a [href]="formatRestaurantName(foodItem.name)" target="_blank">{{ foodItem.location }}</a></span>
      </span><br>

      <app-image-carousel *ngIf="foodItem.image.first; else noImageBlock" [images]="foodItem.image"></app-image-carousel>
      <ng-template #noImageBlock><img src="../../assets/images/coming-soon.jpg" width="95%" alt="image coming soon" loading="lazy"></ng-template>

      <div *ngIf="foodItem.description" class="item-description">{{ foodItem.description }}</div>
    </div>
  </div>
  </div>
  <!-- <p>&nbsp;</p><p>&nbsp;</p> -->
</div>