
@media (max-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--header-footer-bg);
    color: var(--highlight-text);
    padding: 5px;
    font-weight: bold;
    z-index: 100;
    border-bottom: 1px solid var(--point25-alpha);
  }

  .nav-container {
    color: var(--dark-text);
    padding: 10px;
  }

  #menu {
    position: fixed;
    top: 0;
    left: -270px;
    width: 250px;
    height: 100%;
    background-color: goldenrod;
    padding: 10px;
    transition: left 0.3s ease;
    z-index: 100;
  }

  #menu a {
    color: black;
  }
  
  .menu-visible,
  .menu-hidden {
    position: fixed!important;
    z-index: 100;
  }
  
  .menu-visible {
    left: 0!important;
    border-right: 1px solid black;
  }
  
  .menu-hidden {
    left: -270px!important;
  }

  .menu-item {
    margin: 5px;
  }

  .right-container {
    padding: 0 5px;
  }
  
  .little-falls {
    font-family: 'Merriweather', sans-serif;
    color: var(--items-container-bg);
    font-size: 24px;
    padding: 0;
    margin: 0;
  }

  .primary-links,
  .primary-links a {
    color: goldenrod;
    font-size: 14px;
    text-decoration: none;
  }

  .primary-links a {
    color: var(--dark-text);
  }

  .front-splash-container {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--header-footer-bg);
    color: var(--highlight-text);
    padding: 5px;
    font-weight: bold;
    z-index: 100;
    border-bottom: 1px solid var(--point25-alpha);
  }

  .nav-container {
    color: var(--dark-text);
    padding: 10px;
  }

  #menu {
    position: fixed;
    top: 0;
    left: -270px;
    width: 250px;
    height: 100%;
    background-color: goldenrod;
    padding: 10px;
    transition: left 0.3s ease;
    z-index: 100;
  }

  #menu a {
    color: black;
  }
  
  .menu-visible,
  .menu-hidden {
    position: fixed!important;
    z-index: 100;
  }
  
  .menu-visible {
    left: 0!important;
    border-right: 1px solid black;
  }
  
  .menu-hidden {
    left: -270px!important;
  }

  .menu-item {
    margin: 5px;
  }

  .right-container {
    padding: 0 5px;
  }
  
  .little-falls {
    font-family: 'Merriweather', sans-serif;
    color: var(--items-container-bg);
    font-size: 24px;
    padding: 0;
    margin: 0;
  }

  .primary-links,
  .primary-links a {
    color: goldenrod;
    font-size: 14px;
    text-decoration: none;
  }

  .primary-links a {
    color: var(--dark-text);
  }

  .front-splash-container {
    display: block;
    min-height: 50vh;
    max-height: calc(100vh - 100px);
    background-image: url(../../../../assets/lf-main.jpg);
  }
}