
<div class="image-carousel">

  <div class="primary-image-wrapper">
  <img [src]="'/assets/images/food/' + currentImage + '.jpg'" alt="Featured Image"></div>

  <!-- TODO: need to figure out how to pass ALT argument foodPlaces.name -->

  <div class="thumbnail-container">
    <img *ngFor="let image of thumbnailImages" 
         [src]="'/assets/images/food/' + image + '.jpg'" 
         (click)="setCurrentImage(image)" 
         [class.selected]="image === currentImage"
         (error)="handleImageError($event)">
  </div>

</div>
