  .image-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px auto 0px auto;
    display: flex;
    justify-content: center;
  }

  .image-carousel img {
    max-width: 99%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
  }

  .primary-image-wrapper {
    display: block;
    width: 99%;
  }

  .thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  
  .thumbnail-container img {
    width: 20%;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid rgba(124, 124, 124, 0.1);
  }
  
  .thumbnail-container img.selected {
    border: 1px solid var(--point25-alpha);
  }
  