
<div class="image-carousel">

  <!-- /food/ -->

  <div class="primary-image-wrapper">
  <img [src]="'/assets/images/' + prefix + currentImage + '.jpg'" alt="Featured Image" (click)="openImage($event)"></div>

  <div class="thumbnail-container">
    <img *ngFor="let image of thumbnailImages" 
         [src]="'/assets/images/' + prefix + image + '.jpg'" 
         (click)="setCurrentImage(image)" 
         [class.selected]="image === currentImage"
         (error)="handleImageError($event)">
  </div>

</div>

 <!-- Image dimensions shall be 1024 by 768 -->

<!-- TODO: need to eventually pass ALT argument from foodPlaces.name, can technically add it to the data and do it that way? -->