  .image-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .primary-image-wrapper {
    display: block;
    /* background-color: white; */
    width: 99%;
    height: 270px;
  }
  
  .image-carousel img {
    max-height: 270px;
    max-width: 99%;
    object-fit: contain;
  }

  .thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .thumbnail-container img {
    width: 20%;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid rgba(124, 124, 124, 0.1);
  }
  
  .thumbnail-container img.selected {
    border: 1px solid rgb(0, 0, 0); /* Example: Highlight selected thumbnail */
  }
  