
<div class="static-container">
    <div class="static-title">About Us</div>

    <p>At Little Falls Local, we're passionate about connecting people with the best of what our community and the surrounding area has to offer. We created this app so that we wouldn't miss out on local events, and we hope you find it useful as well.</p>

    <p>From festivals and concerts to farmers' markets and cultural activities, there's always something exciting happening here in Little Falls.</p>

    <p>Whether you're a local looking for information about upcoming events or a visitor interested in exploring our town, we're committed to providing you with the most comprehensive source for all things happening in and around Little Falls.</p>

    <p>Best regards,<br>
    Justin & Ashley</p>
</div>
