
<div class="static-container">
    <div class="static-title">Submit an Event</div>

    <p>Are you hosting a community event in Little Falls or the surrounding area? We'd love to hear about it! Share the details of your event, so we can help promote it to the community.</p>
        
    <p>Whether it's a festival, concert, charity fundraiser, or any other gathering, we welcome all submissions.</p>
        
    <!-- Please provide as much information as possible, including the event name, date, time, location, description, and any relevant contact information. -->

    <p>Thank you for helping to enrich our community by giving us things to do!</p>

    <p>Under Construction: Coming Soon!</p>
</div>
