
.rating-container {
  display: inline-block;
  vertical-align: bottom;
  --starSize: 17px;
}

.star-empty,
.star-1q,
.star-half,
.star-3q,
.star-full {
  width: var(--starSize);
  height: var(--starSize);
}
