
<div class="filters-container">
  <a (click)="filterByType('Sports');" style="cursor: pointer;">Sports</a><span class="divider"> | </span>
  <a (click)="filterByType('Festival');" style="cursor: pointer;">Festivals</a><span class="divider"> | </span>
  <a (click)="filterByType('Music');" style="cursor: pointer;">Music</a><span class="divider"> | </span>
  <a (click)="filterByType('Family');" style="cursor: pointer;">Family</a><span class="divider"> | </span>
  <a (click)="filterByType('Food');" style="cursor: pointer;">Food</a>

  <span class="filterIconContainer">
    <a (click)="resetFilter();" style="cursor: pointer;" id="clearFilterText"><fa-icon [icon]="isFilterApplied ? 'filter-circle-xmark' : 'filter'" class="fa-xs"></fa-icon>&nbsp;clear</a>
  </span>
</div>
<div class="item-container">
  <div *ngFor="let eventItem of filteredEvents; let i = index" class="item-iter" #eventItem [class.expanded]="eventItem.isExpanded" (click)="expandItem(eventItem, i)">
    <div *ngIf="!eventItem.oneOff; else oneOff" class="item-wrapper">
      
      <!-- Collapsed item view -->
      <div *ngIf="!eventItem.isExpanded">
        <div class="item-text-wrapper">
          <div class="item-image-wrapper" *ngIf="eventItem.image"><img [src]="getImagePath(eventItem.image)" class="item-image" alt="Image" loading="lazy"></div>
          
          <span *ngIf="!eventItem.endDate" class="item-date">{{ formatDate(eventItem.startDate) }}</span>
          <span *ngIf="eventItem.endDate" class="item-date">{{ formatDateRange(eventItem.startDate, eventItem.endDate) }}</span>
          
          <span *ngIf="!eventItem.endTime && eventItem.startTime" class="item-time"> at {{ eventItem.startTime }}</span>
          <span *ngIf="eventItem.endTime && eventItem.startTime" class="item-time">, {{ eventItem.startTime }}-{{ eventItem.endTime }}</span><br>
          
          <span *ngIf="eventItem.image" class="item-name">{{ eventItem.name | truncate: 22 }}</span>
          <span *ngIf="!eventItem.image" class="item-name">{{ eventItem.name | truncate: 28 }}</span><br>
          
          <span *ngIf="eventItem.image" class="item-location">{{ eventItem.locationAddress | truncate: 21 }}</span>
          <span *ngIf="!eventItem.image" class="item-location">{{ eventItem.locationAddress | truncate: 26 }}</span><br>
        </div>
      </div>
      
      <!-- Expanded item view -->
      <div class="item-wrapper-expanded" *ngIf="eventItem.isExpanded">
        <div>

          <span *ngIf="!eventItem.endDate && eventItem.startDate" class="item-date-expanded">{{ formatDate(eventItem.startDate) }}</span>
          <span *ngIf="eventItem.endDate" class="item-date-expanded">{{ formatDateRange(eventItem.startDate, eventItem.endDate) }}</span>

          <button class="minimizer" (click)="closeItem(eventItem, $event)"><fa-icon icon="down-left-and-up-right-to-center" class="fa-lg"></fa-icon></button>
          
          <span *ngIf="!eventItem.endTime && eventItem.startTime" class="item-time-expanded"> at {{ eventItem.startTime }}</span>
          <span *ngIf="eventItem.endTime && eventItem.startTime" class="item-time-expanded">, {{ eventItem.startTime }}-{{ eventItem.endTime }}</span>
        </div>
        
        <div class="item-name-expanded">{{ eventItem.name | truncate: 30 }}</div>
        
        <span *ngIf="eventItem.cost" class="item-cost">Admission: {{ eventItem.cost }}</span>

        <span *ngIf="eventItem.image; else noImageBlock">
          <img [src]="getImagePath(eventItem.image)" class="item-image-expanded" alt="Image" loading="lazy">
        </span>
        <ng-template #noImageBlock>
          <img src="../../assets/images/coming-soon.jpg" class="item-image-expanded" alt="image coming soon" loading="lazy">
        </ng-template>

        <span class="item-location">
          <span *ngIf="eventItem.locationName">{{ eventItem.locationName }}<br></span>
          <span *ngIf="eventItem.locationAddress">
            <fa-icon [icon]="'location-dot'" class='fa-xs'></fa-icon>&nbsp;
            <a [href]="formatEventLocationName(eventItem.locationAddress)" target="_blank">{{ eventItem.locationAddress }}</a><br>
          </span>
        </span>

        <div *ngIf="eventItem.description" class="item-description">{{eventItem.name}}. {{ eventItem.description }}</div>
        
        <!-- Close button -->
        <!-- <button class="close-button" (click)="closeItem(eventItem, $event)">Close</button> -->
      </div>
      
    </div>


    <ng-template #oneOff>
      <a routerLink="/submit-event" style="text-decoration: none;"><div class="one-off-wrapper">
      <img src="../../../../assets/icons/community.svg" alt="Icon" height="32" width="32" loading="lazy">

      <span class="item-name">{{ eventItem.name }}</span>
      <span class="item-location" style="font-size: 16px; color: #000;">{{ eventItem.locationAddress }}</span></div></a>
    </ng-template>

  </div>
</div>
  