
<div class="filters-container">
  <a (click)="filterByType('Sports');" style="cursor: pointer;">Sports</a><span class="divider"> | </span>
  <a (click)="filterByType('Festival');" style="cursor: pointer;">Festivals</a><span class="divider"> | </span>
  <a (click)="filterByType('Music');" style="cursor: pointer;">Music</a><span class="divider"> | </span>
  <a (click)="filterByType('Family');" style="cursor: pointer;">Family</a><span class="divider"> | </span>
  <a (click)="filterByType('Food');" style="cursor: pointer;">Food</a>

  <span class="filterIconContainer">
    <a (click)="resetFilter();" style="cursor: pointer;" id="clearFilterText"><fa-icon [icon]="isFilterApplied ? 'filter-circle-xmark' : 'filter'" class="fa-xs"></fa-icon>&nbsp;clear</a>
  </span>
</div>
<div class="item-container">
  <div *ngFor="let item of filteredEvents; let i = index" class="item-iter" #item [class.expanded]="item.isExpanded" (click)="expandItem(item, i)">
    <div *ngIf="!item.oneOff; else oneOff" class="item-wrapper">
      
      <!-- Collapsed item view -->
      <div *ngIf="!item.isExpanded">
        <div class="item-text-wrapper">
          <div class="item-image-wrapper" *ngIf="item.image.first"><img [src]="getImagePath(item.image.first)" class="item-image" alt="Image" loading="lazy"></div>
          
          <span *ngIf="!item.endDate" class="item-date">{{ formatDate(item.startDate) }}</span>
          <span *ngIf="item.endDate" class="item-date">{{ formatDateRange(item.startDate, item.endDate) }}</span>
          
          <span *ngIf="!item.endTime && item.startTime" class="item-time"> at {{ item.startTime }}</span>
          <span *ngIf="item.endTime && item.startTime" class="item-time">, {{ item.startTime }}-{{ item.endTime }}</span><br>
          
          <span *ngIf="item.image.first" class="item-name">{{ item.name | truncate: 22 }}</span>
          <span *ngIf="!item.image.first" class="item-name">{{ item.name | truncate: 28 }}</span><br>
          
          <span *ngIf="item.image.first" class="item-location">{{ item.locationAddress | truncate: 21 }}</span>
          <span *ngIf="!item.image.first" class="item-location">{{ item.locationAddress | truncate: 26 }}</span><br>
        </div>
      </div>

      <!-- TODO: create "read more" functionality for long responses -->
      <!-- TODO: need to reconsider using an "image coming soon" logic to perhaps not doing this and just omitting it -->
      <!-- TODO: need to dynamically decide between iPhone and Android for share button, use flag indicating which to use -->
      <!-- TODO: need to consider when is the best time to request location services, warned against doing it on page load -->
      
      <!-- Expanded item view -->
      <div class="item-wrapper-expanded" *ngIf="item.isExpanded">
        <div>

          <span *ngIf="!item.endDate && item.startDate" class="item-date-expanded">{{ formatDate(item.startDate) }}</span>
          <span *ngIf="item.endDate" class="item-date-expanded">{{ formatDateRange(item.startDate, item.endDate) }}</span>

          <button class="minimizer" (click)="closeItem(item, $event)"><fa-icon icon="down-left-and-up-right-to-center" class="fa-lg"></fa-icon></button>
          
          <span *ngIf="!item.endTime && item.startTime" class="item-time-expanded"> at {{ item.startTime }}</span>
          <span *ngIf="item.endTime && item.startTime" class="item-time-expanded">, {{ item.startTime }}-{{ item.endTime }}</span>
        </div>
        
        <div class="item-name-expanded">{{ item.name | truncate: 30 }}</div>
        
        <span *ngIf="item.cost" class="item-cost">Admission: {{ item.cost }}</span>

        <app-image-carousel *ngIf="item.image.second; else singleImageBlock" [images]="item.image.first" [sourcePage]="SourcePage.Events"></app-image-carousel>

        <ng-template #singleImageBlock>
          <span *ngIf="item.image.first; else noImageBlock">
          <img [src]="getImagePath(item.image.first)" class="item-image-expanded" alt="Image" loading="lazy" (click)="openImage($event)"></span>
        </ng-template>

        <ng-template #noImageBlock>
          <img src="../../assets/images/coming-soon.jpg" class="item-image-expanded" alt="image coming soon" loading="lazy">
        </ng-template>

        <span class="item-location">
          <span *ngIf="item.locationName">{{ item.locationName }}<br></span>
          <span *ngIf="item.locationAddress">
            <fa-icon [icon]="'location-dot'" class='fa-xs'></fa-icon>&nbsp;
            <a [href]="formatEventLocationName(item.locationAddress, item.locationCity)" target="_blank">{{ item.locationAddress }}</a>
            <span *ngIf="item.locationCity"> in {{ item.locationCity }}</span><br>
          </span>
        </span>

        <div *ngIf="item.showURL" class="item-url"><fa-icon [icon]="'link'" class='fa-xs'></fa-icon>&nbsp; 
          <a href="{{item.url}}" target="_blank">{{ formatDisplayURL(item.url) | truncate: 28 }}</a></div>

        <div *ngIf="item.description" class="item-description">{{item.name}}. {{ item.description }}</div>

        <fa-icon [icon]="'square-share-nodes'" class='fa-lg' (click)="share(item)"></fa-icon>

      </div>
      
    </div>

    <ng-template #oneOff>

      <span *ngIf="item.uniqueID === 'one-off'">
        <a routerLink="/submit-event" style="text-decoration: none;"><div class="one-off-wrapper">
        <img src="../../../../assets/icons/community.svg" alt="Icon" height="32" width="32" loading="lazy">

        <span class="item-name">{{ item.name }}</span>
        <span class="item-location" style="font-size: 16px; color: #000;">{{ item.locationAddress }}</span></div></a>
      </span>

      <span *ngIf="item.uniqueID === 'view-all-events'" (click)="resetFilter();" style="text-decoration: none;">
        <div class="view-all-events-wrapper">
        <img src="../../../../assets/icons/filter.svg" alt="Icon" height="32" width="32" loading="lazy">

        <span class="item-name">{{ item.name }}</span>
        <span class="item-location" style="font-size: 16px; color: #000;">{{ item.locationAddress }}</span></div>
      </span>

    </ng-template>

  </div>
</div>
  