  .expanded {
    background-color: var(--primary-color);
    height: 96%;
  }

  .item-iter:hover {
    background-color: rgba(253, 224, 128, 0.25);
    /* border-top: 2px solid rgba(58, 58, 58, 0.5); */
  }
