  .expanded {
    background-color: #42EB5E;
    height: 96%;
  }

  .item-iter:hover {
    border: 2px solid rgba(58, 58, 58, 0.5);
  }

@media (max-width: 768px) {
  .expanded {
    background-color: #42EB5E;
    height: 100vh automatically;
  }
}
