@media (max-width: 768px) {

    .right-pane-container {
        display: none;
      }
  
  }
  
  @media (min-width: 1024px) {
  
    .right-pane-container {
      display: block;
      position: fixed;
      margin: 0px;
      padding: 10px;
      text-align: center;
      color: #fff;
      background-color: #507e87; /* Semi-transparent black background */
      width: 100%;
      max-width: 1124px;
      height: 100%;
    }
  
  }