 /* Table of Contents ------------------------------------------------------------------- */
 /* 1. Mobile Experience ---------------------------------------------------------------- */
 /* 1b. Item elements within 4 main lists. ---------------------------------------------- */
 /* 2. Desktop Experience --------------------------------------------------------------- */
 /* 2a. Body, header and footer elements ------------------------------------------------ */
 /* 2b. Item elements within 4 main lists. ---------------------------------------------- */
 /* 3. Tablet Experience ---------------------------------------------------------------- */
 /* ------------------------------------------------------------------------------------- */

 /* I like the color #67C2D4; for item-iter */

:root {
  --primary-color: #FFFFFF; /* Title color, main body background */
  /* --primary-color: #42EB5E; original */ 
  /* --primary-color: #D9DAD9; blue, green, gray */

  --secondary-color: #CAD4DF; /* Navbar and footer color */
  /* --secondary-color: #1995AD; */
  /* --secondary-color: #68A4A5; */

  --tertiary-color: #656E77; /* Filters menu */
  /* --tertiary-color: #338494; */
  /* --tertiary-color: #4C8055; */



  --buy-me-coffee-color: #AD4319; /* Buy me a coffee */

  --text-color-light: #fff;
  --text-color-dark: #7B9CB2;
  /* --text-color-dark: #000; */

  --item-iter-border: rgba(156, 156, 156, 0.50);
  --item-borders-1: rgba(0, 0, 0, 0.1);
  --point25-alpha: rgba(0, 0, 0, 0.25);
  --dark: red;
}

 /* 1. Mobile Experience ----------------------------------------------------------------- */

 @media (max-width: 768px) {

  #bmc-wbtn { /* buy me a coffee */
    background-color: var(--buy-me-coffee-color)!important;
    position: fixed!important;
    bottom: 9px!important;
    right: 0px!important;
    width: 42px!important;
    border-radius:15px 0px 0px 15px!important;
  }

  body {
    font-family: "Merriweather", serif;
    margin:0 auto;
    padding: 0;
    max-width: 1500px;
    min-height: 100vh;
    overflow: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "header" "contentContainer" "footer";
  }

  header {
    /* more header styles under header component css */
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar {
    background-color: var(--secondary-color);
    font-size: 18px;
    color: var(--point25-alpha);
    /* font-weight: bold; */
    padding: 6px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--item-borders-1);
    border-bottom: 1px solid var(--point25-alpha);
  }
  
  .navbar a {
    color: var(--text-color-light);
    text-decoration: none;
    padding: 4px 6px;
  }
  
  .navbar a:hover {
    background-color: var(--item-borders-1);
  }

  footer {
    grid-area: footer;
    bottom: 0;
    z-index: 100;
    border-radius: 8px 0px 0px 0px;

    background-color: var(--secondary-color);
    color: var(--text-color-light);
    /* text-align: center; */
    padding: 10px 0px;
    margin: 0;
    position: fixed;

    width: 100%;
    border-top: 1px solid var(--item-borders-1);
  }
  
  footer a {
    color: var(--text-color-light);
    text-decoration: none;
  }

  .footerbox {
    display: block;
    float: left;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 60px;
  }

  .copyright {
    color: #C7E6EB;
  }

  /* TODO: rename itemsFilter to something like "clearFilterText" and move it with the other filters at some point */

  #itemsFilter {
    display: none;
  }

 /* 1b. Item elements within 4 main lists. ---------------------------------------------- */

  .minimizer {
    position: absolute;
    border: 0px solid var(--secondary-color);
    background-color: transparent;
    top: 0; /* Align the item to the top */
    right: 0; /* Align the item to the right */
    border-radius: 6px;
    margin: auto;
  }

  .filters-container {
    background-color: var(--tertiary-color);

    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 14px;
    font-weight: normal;
   
    border-radius: 0px 0px 8px 0px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width */

    padding: 2px 10px 3px 10px;
    margin: 0px;
    
    color: var(--text-color-light);
    position: fixed;
    z-index: 100;
}

.filterIconContainer {
  float: right;
}

.divider {
    color: var(--point25-alpha);
}

  .item-container {
    grid-area: contentContainer;
    background-image: url("../src/assets/falls.jpg");
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* Stack vertically on mobile */
    grid-gap: 5px;
    margin: 27px 1px 5px 5px;
    padding-bottom: 83px;
    overflow-y: auto;
    align-content: center;
    position: relative;
    background-color: green;
  }

  .item-iter {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.85);
    background-color: var(--primary-color);
    opacity: 1;
    padding: 5px;
    width: 95%;
    border: 2px solid var(--item-iter-border);
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    height: 80px;
    min-height: 80px;
  }


  .fullscreen-welcome {
    display: none;
  }

.item-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 22px;
  padding-left: 5px;
}

.item-wrapper-expanded {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: left;
  font-size: 22px;
  padding-left: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
}

.item-name {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color-dark);
}

.item-name-expanded {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color-dark);
}

.item-description {
  font-size: 17px;
  margin: 5px 0px;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 0px 0px 8px 0px;
}

.item-phoneNumber {
  font-size: 18px;
}

.item-description-expanded {
  font-size: 16px;
  
}

.item-cost {
  font-size: 16px;
  font-weight: bold;
}

.item-type {
  font-size: 18px;
  font-weight: normal;
}

.item-type-expanded {
  font-size: 18px;
  font-weight: normal;
}
  
.item-rating {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.item-rating-expanded {

  font-size: 18px;
  font-weight: normal;
}

.item-date {
  font-size: 14px;
  font-weight: bold;
}

.item-date-expanded {
  display: inline;
  font-size: 14px;
  font-weight: bold;
}

.item-time {
  font-size: 14px;
  font-weight: bold;
}

.item-time-expanded {
  display: inline;
  font-size: 14px;
  font-weight: bold;
}



.item-image-wrapper {
  display: flex;
  justify-content: center; /*  horizontally centers the image */
  align-items: center; /* vertically centers the image */
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100px;
  position: absolute;
  border: 1px solid #000000;
  top: 0; /* Align the item to the top */
  left: 0;
}

.item-image {

  height: 80px;
  max-width: 100px;

  /* align-self: flex-end;
  margin-top: 5px; */
}

.item-text-wrapper {
  display: inline-block;
}

.item-image-expanded {
  align-self: center;
  width: 100%;
  margin-top: 5px;
}

.item-icon {
  position: absolute; /* Position the item absolutely */
  top: 0; /* Align the item to the top */
  right: 5px; /* Align the item to the right */
  height: 80px;
  /* align-self: flex-end;
  margin-top: 5px; */
}

.item-icon-expanded {
  align-self: center;
  width: 100%;
  margin-top: 5px;
}

.item-location {
  font-size: 18px;
  font-weight: normal;
}

.item-location-expanded {
  font-size: 16px;
  font-weight: normal;
}

}

/* ------------------- end item elements section ------------------- */




 /* ------------------------------------------------------------------------------------- */
 /* 2. Desktop Experience --------------------------------------------------------------- */ 
 /* 2a. Body, header and footer elements ------------------------------------------------ */

 @media (min-width: 769px) {

body {
  font-family: "Merriweather", serif;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto max-content auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;  */

  /* margin: 0; */
  margin:0 auto;
  padding: 0;

  max-width: 1500px;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto max-content auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "header" "contentContainer" "footer";
}

header {
  /* more header styles under header component css */
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  background-color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid var(--item-borders-1);
  border-bottom: 1px solid var(--item-borders-1);
}

.navbar a {
  color: var(--text-color-light);
  text-decoration: none;
  padding: 8px 16px;
}

.navbar a:hover {
  background-color: var(--item-borders-1);
}

footer {
  grid-area: footer;
  bottom: 0;
  z-index: 100;

  background-color: var(--secondary-color);
  color: var(--text-color-light);
  text-align: center;
  padding: 10px 0px;
  margin: 0;
  position: fixed;

  width: 100%;
  border-top: 1px solid var(--item-borders-1);

  max-width: 1500px;
}

footer a {
  color: var(--text-color-light);
  text-decoration: none;
}

/* 2b. Item elements within 4 main lists. ---------------------------------------------- */

  .item-container {
  /* has mobile */
    display: grid;
    grid-area: contentContainer;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 5px;    
  }
  
  .item-iter {
    /* **** expand and hover is on events.component.css ----- */
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.85);
    background-color: var(--primary-color);
    opacity: 1;
    padding: 5px;
    width: 95%;
    border: 2px solid rgba(156, 156, 156, 0.50);
    /* height: 250px; */
    height: 250px;
    min-height: 250px;
    overflow: hidden;
    white-space: wrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis for truncated text */
  }

  .item-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 22px;
  }

  .item-wrapper-expanded {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    /* height: 100vh automatically; */
    /* background-color: #FFFFFF; */
  }
  
  .item-name {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color-dark);
  }

  .item-name-expanded {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color-dark);
  }

  /* .item-description {
    font-size: 18px;
    
  }

  .item-description-expanded {
    font-size: 18px;
    
  } */

  .item-type {
    font-size: 18px;
    font-weight: normal;
  }

  .item-type-expanded {
    font-size: 18px;
    font-weight: normal;
  }
    
  .item-rating {
    font-size: 18px;
    font-weight: normal;
  }

  .item-rating-expanded {
    font-size: 18px;
    font-weight: normal;
  }

  .item-date {
    font-size: 18px;
    font-weight: normal;
  }

  .item-date-expanded {
    font-size: 18px;
    font-weight: normal;
  }

  .item-time {
    font-size: 18px;
    font-weight: normal;
  }

  .item-time-expanded {
    font-size: 18px;
    font-weight: normal;
  }

  .item-image {
    position: absolute; /* Position the item absolutely */
    top: 0; /* Align the item to the top */
    right: 0; /* Align the item to the right */
    height: 80px;
    /* align-self: flex-end;
    margin-top: 5px; */
  }

  .item-image-expanded {
    align-self: center;
    width: 100%;
    margin-top: 5px;
  }

  .item-location {
    font-size: 16px;
    font-weight: normal;
  }

  .item-location-expanded {
    font-size: 16px;
    font-weight: normal;
  }

  /* ------------------- end item elements section ------------------- */



.fullscreen-welcome {
  background-color: var(--text-color-light);
}
}

 /* 3. Tablet Experience ---------------------------------------------------------------- */