


/* Mobile/Tablet --------------------------------------------------------------------------------- */
@media (max-width: 1023px) {

/* Reset browser defaults ------------------------------------------------------------------------ */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

 /* Establish variables --------------------------------------------------------------------------- */

:root {
  --header-footer-bg: #009a00;
  --item-bg: whitesmoke;
  --items-container-bg: whitesmoke;
  --light-text: white;
  --dark-text: black;
  --highlight-text: #007bff;
  --text-color-light: white;
  --text-color-dark: #449E8C; /* used for links on items */
  --buy-me-coffee-color: #ad4319;
  --item-color: white;
  --item-color-dos: #E2DCD0;

  --item-iter-border: rgba(156, 156, 156, 0.50);
  --item-borders-1: rgba(0, 0, 0, 0.1);
  --point25-alpha: rgba(0, 0, 0, 0.25);


}

  #bmc-wbtn {
    background-color: var(--buy-me-coffee-color)!important;
    bottom: 42px!important;
    right: 14px!important;
    text-shadow: rgb(0, 0, 0) 0px 0px 2px!important;
    /* opacity: 0 !important;
    animation: fadeIn 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards; */
  }

  /* .bmc-wbtn div {
    background-color: red!important;
  } */

  /* @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }; */

  body {
    background-color: var(--items-container-bg);
    font-family: 'Lato', sans-serif;
    margin:0 auto;
    padding: 0;
    overflow: clip auto;

    /* TODO: don't allow clients to select text, need to verify if this is a good idea or not, or if it should just be in specific areas. */
    user-select: none;
    -webkit-user-select: none;
  }

  br {
    padding: 0;
    margin: 0;
  }

 /* 1b. Item elements within 4 main lists. ---------------------------------------------- */

  .minimizer {
    position: absolute;
    border: 0px solid var(--secondary-color);
    background-color: transparent;
    top: 17px;
    right: 9px;
    border-radius: 6px;
    margin: auto;
  }

  .filters-container {
    background-color: var(--item-bg);
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid var(--point25-alpha);
    width: 100%;
    box-sizing: border-box;
    padding: 2px 5px;
    margin: 0px;
    color: var(--dark-text);
    position: fixed;
    z-index: 98;
}

#clearFilterText {
  display: none;
}

.filterIconContainer {
  float: right;
}

.divider {
    color: var(--point25-alpha);
}

  .item-container {
    margin: 0px 1px 28px 5px;
    padding: 20px 5px 5px 5px;
    overflow-y: scroll;
    align-content: center;
    position: relative;
  }

  .item-iter {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.85);
    background-color: var(--item-bg);
    opacity: 1;
    padding: 5px;
    padding-bottom: 10px;
    width: 95%;
    border-bottom: 1px solid var(--point25-alpha);
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    height: 80px;
    min-height: 80px;

  }

  .fullscreen-welcome {
    display: none;
  }

  .one-off-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--highlight-text)!important;
    padding-bottom: 2px;
    margin-top: 2px;
  }
  
  .item-image-wrapper {
    display: flex;
    height: 80px;
    width: 100px;
    float: left;
    /* align-self: center; */
    margin: 2px 8px 3px 2px;
    border: 1px solid var(--point25-alpha);
  }

  .item-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    padding: 0px;
  }

  .item-wrapper-expanded {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: left;
    font-size: 22px;
    padding-left: 5px;
    padding-right: 8px;
    padding-bottom: 4px;

  }

  .item-name {
    font-size: 20px;
    font-weight: bold;
    color: var(--highlight-text);
  }

  .item-name-expanded {
    font-size: 20px;
    font-weight: bold;
    color: var(--highlight-text);
  }

  .item-description {
    font-size: 17px;
    margin: 5px 0px;
    padding: 5px 5px;
    border: 1px solid var(--point25-alpha);
    border-radius: 0px 0px 8px 0px;
  }

  .item-phoneNumber {
    font-size: 18px;
  }

  .item-description-expanded {
    font-size: 16px;
  }

  .item-cost {
    font-size: 16px;
    font-weight: bold;
  }

  .item-type {
    font-size: 18px;
    font-weight: normal;
  }

  .item-type-expanded {
    font-size: 18px;
    font-weight: normal;
  }
    
  .item-rating {
    /* font-family: Arial, sans-serif; */
    font-size: 18px;
    font-weight: normal;
  }

  .item-rating-expanded {

    font-size: 18px;
    font-weight: normal;
  }

  .item-date, .item-time {
    font-size: 14px;
    font-weight: bold;
  }

  .item-date-expanded, .item-time-expanded {
    display: inline;
    font-size: 14px;
    font-weight: bold;
  }


.item-image {
  height: 80px;
  max-width: 100px;
}

.item-text-wrapper {
  color: var(--dark-text);
  line-height: 1.65rem;
}

.item-image-expanded {
  align-self: center;
  width: 99.5%;
  margin-top: 5px;
  border: 1px solid var(--point25-alpha);
} 

.item-icon {
  /* position: absolute;
  top: 0;
  right: 5px;
  height: 80px; */
  display: flex;
  height: 80px;
  max-width: 100px;
  align-self: center;
  margin: auto;
}

.item-icon-expanded {
  align-self: center;
  width: 100%;
  margin-top: 5px;
}

.item-location {
  font-size: 18px;
  font-weight: normal;
}

.item-location a {
  color: var(--text-color-dark);
  font-size: 18px;
  font-weight: normal;
}

.item-location-expanded {
  font-size: 16px;
  font-weight: normal;
}

.static-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 10px;
  padding: 10px;
  text-align: left;
  color: #fff;
  background-color: #507e87; 
  min-height: calc(100vh - 130px);
  border-radius: 0px 15px 0px 15px;
}

.static-title {
font-family: "Merriweather", sans-serif;
text-align: center;
font-weight: bold;
font-size: 32px;
padding: 20px;
}

.static-container p {
  line-height: 1.3rem;
  padding: 1rem;
}

}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


/* This does effect just the app version of the website */
/* @media (display-mode: standalone) {
  body {
    background-color: red;
  }
} */