
<div class="filters-container">

  <span class="filterIconContainer">
    <a (click)="resetFilter();" style="cursor: pointer;" id="clearFilterText">&nbsp;<fa-icon [icon]="isFilterApplied ? 'filter-circle-xmark' : 'filter'" class="fa-xs"></fa-icon>&nbsp;&nbsp;&nbsp;</a>
  </span>

  <ng-container *ngFor="let type of uniqueOutdoorTypes; let last = last">
    <ng-container *ngIf="type">
      <button (click)="filterByType(type);" style="cursor: pointer;">{{ type }}</button>
      <span *ngIf="!last" class="divider">&nbsp;</span>
    </ng-container>
  </ng-container>
  
</div>

<div class="item-container">
  <div *ngFor="let item of filteredEvents; let i = index" class="item-iter" #item [class.expanded]="item.isExpanded" (click)="expandItem(item, i)">

<!-- Collapsed item view -->
  <div class="item-wrapper">
    <div *ngIf="!item.isExpanded">

    <div class="item-image-wrapper" *ngIf="item.image.first"><img [src]="getImagePath(item.image.first)" class="item-image" alt="Image" loading="lazy"></div>

    <span *ngIf="item.image.first" class="item-name">{{ item.name | truncate: 19 }}<br></span>
    <span *ngIf="!item.image.first" class="item-name">{{ item.name | truncate: 24 }}<br></span>

    <span *ngIf="item.rating" class="item-rating">{{ item.rating }} stars <app-rating [rating]="item.rating"></app-rating><br></span>
    <span *ngIf="item.locationAddress" class="item-location">{{ item.locationAddress }}</span>
    </div>
  </div>
  
<!-- Expanded item view -->
  <div class="item-wrapper-expanded" *ngIf="item.isExpanded">
    <div *ngIf="item.isExpanded">
      <div class="item-name-expanded">{{ item.name }}</div>

      <button class="minimizer" (click)="closeItem(item, $event)"><fa-icon icon="down-left-and-up-right-to-center" class="fa-lg"></fa-icon></button>

      <span class="item-rating">{{ item.rating }} stars <app-rating [rating]="item.rating"></app-rating></span><br>
      <span class="item-location">
        <span *ngIf="item.locationAddress"><fa-icon [icon]="'location-dot'" class='fa-xs'></fa-icon>&nbsp;<a [href]="formatEventLocationName(item.locationAddress, item.locationCity)" target="_blank">{{ item.locationAddress }}</a><br></span>
      </span>

      <span class="item-phoneNumber">
        <span *ngIf="item.phoneNumber"><fa-icon [icon]="'phone'" class='fa-xs'></fa-icon>&nbsp;<a [href]="'tel:' + item.phoneNumber">{{ item.phoneNumber }}</a></span>
      </span>
      
      <app-image-carousel *ngIf="item.image.second; else singleImageBlock" [images]="item.image" [sourcePage]="SourcePage.Outdoors"></app-image-carousel>

      <ng-template #singleImageBlock>
        <span *ngIf="item.image.first; else noImageBlock">
        <img [src]="getImagePath(item.image.first)" class="item-image-expanded" alt="Image" loading="lazy" (click)="openImage($event)"></span>
      </ng-template>

      
      <ng-template #noImageBlock><img src="../../assets/images/coming-soon.webp" class="item-image-expanded" alt="image coming soon" loading="lazy"></ng-template>

      <div *ngIf="item.description" class="item-description">{{ item.description }}</div>
    </div>
  </div>
  </div>

</div>
