
  .expanded {
    background-color: var(--primary-color);
    /* min-height: 100%; */
    height: 96%;
  }

  .item-iter:hover {
    background-color: rgba(253, 224, 128, 0.25);
  }


  a {
    text-decoration: none;
  }

  .iter-iter {
    background-color: rgb(253, 198, 17)!important;
  }
