
<div class="filters-container">
  <a (click)="filterByType('Park');" style="cursor: pointer;">Parks</a><span class="divider"> | </span>
  <a (click)="filterByType('Activity');" style="cursor: pointer;">Activities</a><span class="divider"> | </span>
  <a (click)="filterByType('Playground');" style="cursor: pointer;">Playgrounds</a><span class="divider"> | </span>
  <a (click)="filterByType('Trail');" style="cursor: pointer;">Trails</a>
  
  <span class="filterIconContainer">
    <a (click)="resetFilter();" style="cursor: pointer;" id="clearFilterText"><fa-icon [icon]="isFilterApplied ? 'filter-circle-xmark' : 'filter'" class="fa-xs"></fa-icon>&nbsp;clear</a>
  </span>
</div>

<div class="item-container">
  <div *ngFor="let outdoorItem of filteredEvents; let i = index" class="item-iter" #outdoorItem [class.expanded]="outdoorItem.isExpanded" (click)="expandItem(outdoorItem, i)">
    <div class="item-wrapper">
      <!-- Collapsed item view -->
      <div *ngIf="!outdoorItem.isExpanded">

      <div class="item-image-wrapper" *ngIf="outdoorItem.image.first"><img [src]="getImagePath(outdoorItem.image.first)" class="item-image" alt="Image" loading="lazy"></div>

      <span *ngIf="outdoorItem.image.first" class="item-name">{{ outdoorItem.name | truncate: 19 }}</span>
      <span *ngIf="!outdoorItem.image.first" class="item-name">{{ outdoorItem.name | truncate: 24 }}</span><br>

      <span class="item-rating">{{ outdoorItem.rating }} stars <app-rating [rating]="outdoorItem.rating"></app-rating></span><br>
      <span class="item-location">{{ outdoorItem.location }}</span>
      </div>
    </div>
  
<!-- Expanded item view -->
  <div class="item-wrapper-expanded" *ngIf="outdoorItem.isExpanded">
    <div *ngIf="outdoorItem.isExpanded">
      <div class="item-name-expanded">{{ outdoorItem.name }}</div>

      <button class="minimizer" (click)="closeItem(outdoorItem, $event)"><fa-icon icon="down-left-and-up-right-to-center" class="fa-lg"></fa-icon></button>

      <span class="item-rating">{{ outdoorItem.rating }} stars <app-rating [rating]="outdoorItem.rating"></app-rating></span><br>
      <span class="item-location">
        <span *ngIf="outdoorItem.location"><fa-icon [icon]="'location-dot'" class='fa-xs'></fa-icon>&nbsp;<a [href]="formatEventLocationName(outdoorItem.location)" target="_blank">{{ outdoorItem.location }}</a></span>
      </span>
      
      <span *ngIf="outdoorItem.image.first; else noImageBlock">
        <img [src]="getImagePath(outdoorItem.image.first)" class="item-image-expanded" alt="Image" width="95%" loading="lazy">
      </span>
      <ng-template #noImageBlock><img src="../../assets/images/coming-soon.jpg" class="item-image-expanded" alt="image coming soon" loading="lazy"></ng-template>

      <div *ngIf="outdoorItem.description" class="item-description">{{ outdoorItem.description }}</div>
    </div>
  </div>
  </div>

</div>
